* {
  border: none;
  border-radius: 0;
  font-family: "blex mono nerd font";
  min-height: 0px;
  padding: 5px 0;
  margin: 0px 0;
  font-size: 20px;
  font-weight: bold;
}

.vertical {
  margin-top: -5;
  margin-bottom: -5;
}

window#waybar {
  padding: 0 0;
  background: #000;
  color: #000000;
}

#window {
  margin-left: 10px;
  margin-top: 0px;
  color: #323232;
}

#workspaces button {
  margin-top: 0px;
  margin-left: 0px;
  font-size: 4px;
  margin-bottom: 0px;
  border-radius: 0px;
}

#workspaces button {
  padding: 0 0px;
  margin: 0 0px;
  color: #55ae65;
  font-weight: bold;
  font-size: 20px;
}

#workspaces button.active {
  color: #15ff00;
}

#workspaces button:hover {
  background: rgba(255, 76, 48, 0.0);
}

#network,
#cpu,
#memory,
#backlight,
#pulseaudio,
#tray,
#mode {
  color: #55ae65;
  font-size: 17px;
  font-weight: lighter;
  margin: 10px 0;
  font-weight: lighter;
}

#battery {
  color: #15ff00;
  font-size: 17px;
  margin: 10px 0;
}

#pulseaudio.muted {
  color: #15ff00;
}

#battery.discharging {
  color: #55ae65;
}

#clock {
  color: #15ff00;
  font-weight: bold;
}
