* {
	border: none;
	border-radius: 0;
	font-family: "blex mono nerd font";
	min-height: 0px;
	padding: 5px 0;
	margin:  0px 0;
  font-size: 20px;
  font-weight: bold;
}

.vertical {
  margin-top: -5;
  margin-bottom: -5;
}

window#waybar {
	padding: 0 0;
  background: rgba(00, 00, 00, 1.0);
	color: #000000;
}

#window {
  margin-left: 10px;
  margin-top: 0px;
  color: #323232;
}

#workspaces button {
	margin-top: 0px;
	margin-left: 0px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 0px;
}

#workspaces button {
	padding: 0 0px;
	margin: 0 0px;
	color: #444444;
  font-weight: bold;
  font-size: 20px;
}

#workspaces button.active {
	color: #ff0000;
}

#network,
#cpu,
#memory,
#backlight,
#pulseaudio,
#tray,
#mode,
#battery{
	color: #b4b4b9;
	font-size: 19px;
  font-weight: bold;
	margin:  10px 0;
}

#network {
  color: #7daea3;
}

#backlight{
	color: #d8a657;
}

#battery.charging {
	color: #b4b4b9;
}

#battery.discharging {
	color: #a9b665;
}

#battery.warning.discharging {
	color: #b4b4b9;
}

#battery.critical.discharging {
	color: #b4b4b9;
}

#battery.warning.charging {
	color: #b4b4b9;
}

#battery.critical.charging {
	color: #b4b4b9;
}

#pulseaudio{
	color: #7daea3;
}

#cpu {
	color: #ea6962;
}

#clock {
  color: magenta;
  font-weight: bold;
}

label:focus {
	background-color: #000000;
}
