* {
  border: none;
  border-radius: 0;
  font-family: "blex mono nerd font";
  min-height: 0px;
  padding: 0px 0px;
  margin: 0px 0;
  font-size: 15px;
  font-weight: bold;
}

window#waybar {
  padding: 0 0;
  background: #000;
  /* background: rgba(255, 76, 48, 0.0); */
  color: #000000;
}

#window {
  color: #323232;
}

#workspaces button {
  color: #ae81ff;
  padding: 0px 10px;
  font-weight: bold;
}

#workspaces button.active {
  color: black;
  background: #ae81ff;
}

#workspaces button:hover {
  padding-top: 0;
  background: rgba(255, 76, 48, 0.0);
  color: #ae81ff;
}

#network,
#cpu,
#memory,
#backlight,
#pulseaudio,
#tray,
#battery.discharging,
#mpd,
#mode {
  color: #ae81ff;
  border-left: 0.3px solid #cf87e8;
  font-weight: lighter;
  padding: 0px 20px;
  font-weight: lighter;
}

#battery {
  color: #15ff00;
  border-left: 0.3px solid #cf87e8;
  font-weight: bold;
  padding: 0px 20px;
}

#pulseaudio.muted {
  color: #15ff00;
}

#clock {
  color: #ae81ff;
  /* border-left: 0.3px solid #cf87e8; */
  /* padding-left: 20px; */
  opacity: 1;
  font-weight: bolder;
}

/* old colors  */
/* green: #15ff00 */
/* red : #ae81ff */
